.DS_Store
__pycache__/
.AppleDouble
.LSOverride
.env
temp/
*.log

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
runs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
/wandb/
.installed.cfg
*.egg

results.json